In [19]:
#first we need to impot allthe required libraries,modules 
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
#naming the features from description data set
trainset=pd.read_csv("train_data.csv",delimiter=":::",engine="python",header=None,names=['id','moviename','genre','plot'])
trainset.head()

,id,moviename,genre,plot
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

In [30]:
trainset.shape

(54214, 4)

In [31]:
trainset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54214 entries, 0 to 54213
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         54214 non-null  int64
 1   moviename  54214 non-null  object
 2   genre      54214 non-null  object
 3   plot       54214 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.7+ MB

In [32]:
trainset.describe()

                 id
count  54214.000000
mean   27107.500000
std    15650.378084
min        1.000000
25%    13554.250000
50%    27107.500000
75%    40660.750000
max    54214.000000

In [20]:
testset=pd.read_csv("test_data.csv",delimiter=":::",engine="python",header=None,names=['id','moviename','plot'])
testset.head()

,id,moviename,plot
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apar..."
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty ch..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family ...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with hi..."
4,5,Er nu zhai (1955),Before he was known internationally as a mart...

In [33]:
testsetsolution=pd.read_csv("test_data.csv",delimiter=":::",engine="python",header=None,names=['id','moviename','plot'])
testsetsolution.head()

,id,moviename,plot
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apar..."
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty ch..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family ...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with hi..."
4,5,Er nu zhai (1955),Before he was known internationally as a mart...

In [21]:
# Extract features using tf-idf vectorizer 
vectorizer = TfidfVectorizer(max_features=5000)
X_train = vectorizer.fit_transform(trainset['plot'])
y_train = trainset['genre']

In [ ]:
# traing the model by logistic regression by correlating datasets
classifier = LogisticRegression(max_iter=1000)
classifier.fit(X_train, y_train)

In [ ]:
# Transform test set plots into TF-IDF vectors 
X_test = vectorizer.transform(testset['plot'])

# Predict genres for the test set plots 
predicted_genres = classifier.predict(X_test)

In [28]:
#predictions that i got
print(predicted_genres)

[' drama ' ' drama ' ' documentary ' ... ' comedy ' ' drama '
 ' documentary ']